extends layout

block content
      .container
            h2 About Us 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut 
            voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
            recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!        
            ul
               li Vaccineas
               li Cras pros tosa
               li Nam lostus pacos
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut 
            voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam,
            recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!        
           
              